#feedCarouselContainer {
  background: #a6a9b0;
  font-family: sans-serif;
  font-size: 10px;
  height: 125px;
  padding-top: 10px;
  width: 975px;
}

#feedCarouselContainer #navFilter {
  height: 22px;
  list-style-type: none;
  margin: 0;
  padding: 0 0 0 125px;
}
  #feedCarouselContainer #navFilter li {
    float: left;
    list-style-type: none;
    margin: 5px 0 0 0;
    overflow:hidden;
    padding: 0;
  }
    #feedCarouselContainer #navFilter li a {
      color: #333;
      display: block;
      height: 17px;
      overflow: hidden;
      width: 128px;
    }

    #feedCarouselContainer #navFilter li a span {
      color: #fff;
      font-weight: bold;
    }

    #feedCarouselContainer #navFilter li a.current {
      color: #fff;
    }

    #feedCarouselContainer #navFilter li a:hover {
      color: #fff;
    }

    #feedCarouselContainer #navFilter li a.showAllFilter {
      border-bottom: 5px solid #575556;
      text-indent: 0px;
    }

      #feedCarouselContainer #navFilter li a.showAllFilter.current {
        text-indent: -9999px;
      }

    #feedCarouselContainer #navFilter li a.blogsFilter {
      border-bottom: 5px solid #fa6101;
    }

    #feedCarouselContainer #navFilter li a.twitterFilter {
      border-bottom: 5px solid #01c5f7;
    }

    #feedCarouselContainer #navFilter li a.youtubeFilter {
      border-bottom: 5px solid #b42006;
    }

    #feedCarouselContainer #navFilter li a.flickrFilter {
      border-bottom: 5px solid #2861ba;
    }

  #feedCarouselContainer #navFilter li a {
    text-decoration: none;
  }
